.App {
  width: 100%;
  background-color:rgb(39, 94, 22);
  text-align: center;
  font-size: 2rem;
  color:rgb(200, 255, 0) ;
}

.Header{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: blue;
}

.headerImage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.game {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.instructions{
  font-size: 1.5rem;
}
.instruction-text1{
  font-size: 1rem
}
.instruction-text2{
  font-size: 1rem
}


/*.react-pdf_Page_canvas {
  margin-right: auto;
  margin-left:auto;
  height:100% !important;
  width: 100% !important;
}
*/

.react-pdf__Page__canvas {
  width:50% !important;
  height: 50% ! important;
  padding-top: 20%;
  margin-top: 10%;
  margin-right: auto;
  margin-left:auto;
  background-color: rgb(39,94,22);
} 


.react-pdf__Page {
  height: 30% ! important;
  background-color: rgb(39,94,22);
} 


